# Ejemplo de variables de entorno (Duplica este archivo como .env y coloca tus credenciales)
VITE_SUPABASE_URL=https://bzwsmntpvpvjtwiufvlx.supabase.co
VITE_SUPABASE_ANON_KEY=TU_SUPABASE_ANON_KEY_AQUÍ
