# Entornos y secretos
.env
.env.*
!.env.example

# Dependencias de Node
node_modules/
dist/
build/
.next/

# Sistema operativo
Thumbs.db
Desktop.ini
.DS_Store

# Editores y herramientas
.vscode/
*.tmp
*.log
